#  /etc/rsyslog.d/log-server.conf
#

# provides TCP syslog reception
$ModLoad imtcp
$InputTCPServerRun {{ syslog_port }}


# Centralized outchannels

$outchannel mail_rot_cent,/var/log/centralized/mail.log,262144000,/usr/sbin/logrotate /etc/logrotate.conf
$outchannel mail_info_rot_cent,/var/log/centralized/mail.info,262144000,/usr/sbin/logrotate /etc/logrotate.conf
$outchannel mail_warn_rot_cent,/var/log/centralized/mail.warn,262144000,/usr/sbin/logrotate /etc/logrotate.conf
$outchannel mail_err_rot_cent,/var/log/centralized/mail.err,262144000,/usr/sbin/logrotate /etc/logrotate.conf
$outchannel daem_rot_cent,/var/log/centralized/daemon.log,262144000,/usr/sbin/logrotate /etc/logrotate.conf
$outchannel kern_rot_cent,/var/log/centralized/kern.log,262144000,/usr/sbin/logrotate /etc/logrotate.conf
$outchannel auth_rot_cent,/var/log/centralized/auth.log,262144000,/usr/sbin/logrotate /etc/logrotate.conf
$outchannel sysl_rot_cent,/var/log/centralized/syslog,262144000,/usr/sbin/logrotate /etc/logrotate.conf
$outchannel user_rot_cent,/var/log/centralized/user.log,262144000,/usr/sbin/logrotate /etc/logrotate.conf
$outchannel lpr_rot_cent,/var/log/centralized/lpr.log,262144000,/usr/sbin/logrotate /etc/logrotate.conf
$outchannel cron_rot_cent,/var/log/centralized/cron.log,262144000,/usr/sbin/logrotate /etc/logrotate.conf
$outchannel debug_rot_cent,/var/log/centralized/debug,262144000,/usr/sbin/logrotate /etc/logrotate.conf
$outchannel mess_rot_cent,/var/log/centralized/messages,262144000,/usr/sbin/logrotate /etc/logrotate.conf

auth,authpriv.*                 :omfile:$auth_rot_cent
*.*;auth,authpriv.none          :omfile:-$sysl_rot_cent
daemon.*                        :omfile:-$daem_rot_cent
kern.*                          :omfile:-$kern_rot_cent
lpr.*                           :omfile:-$lpr_rot_cent
mail.*                          :omfile:-$mail_rot_cent
user.*                          :omfile:-$user_rot_cent

mail.info                       :omfile:-$mail_info_rot_cent
mail.warn                       :omfile:-$mail_warn_rot_cent
mail.err                        :omfile:$mail_err_rot_cent

*.=debug;                   \
auth,authpriv.none;         \
news.none;mail.none             :omfile:-$debug_rot_cent
*.=info;*.=notice;*.=warn;  \
auth,authpriv.none;         \
cron,daemon.none;           \
mail,news.none                  :omfile:-$mess_rot_cent


if $fromhost-ip != '127.0.0.1' then stop
