---
- name: Install prosody
  apt: name={{item}} state=present
  with_items:
    - prosody
    - lua-cyrussasl
    - libsasl2-modules-ldap
    - sasl2-bin
    - lua-sec
    - lua-dbi-postgresql

- name: prosody user's group
  user: name=prosody append=yes groups=sasl

- name: saslauthd
  copy: src=saslauthd dest=/etc/default/saslauthd
  notify:
    - restart saslauthd
    - restart prosody

- name: saslauthd.conf
  copy: src=saslauthd.conf dest=/etc/saslauthd.conf
  notify:
    - restart saslauthd
    - restart prosody

- name: sasl folder in etc
  file: path=/etc/sasl state=directory recurse=yes

- name: Configure sasl prosody.conf
  copy: src=prosody.conf dest=/etc/sasl/prosody.conf
  notify:
    - restart saslauthd
    - restart prosody

- name: Configure prosody.cfg.lua
  copy: src=prosody.cfg.lua dest=/etc/prosody/prosody.cfg.lua
  notify:
    - restart prosody

- name: Configure xmpp.slash16.local.cfg.lua
  copy: src=xmpp.slash16.local.cfg.lua dest=/etc/prosody/conf.avail/xmpp.slash16.local.cfg.lua
  notify:
    - restart prosody

# Database conf #
#################

- name: Create prosody's database
  delegate_to: 192.168.154.8
  sudo: yes
  sudo_user: postgres
  postgresql_db: name=prosody_db

- name: User prosody for the db
  delegate_to: 192.168.154.8
  sudo: yes
  sudo_user: postgres
  postgresql_user: >
    db=prosody_db
    name=prosody
    password=prosody
    priv=ALL
    role_attr_flags=NOSUPERUSER,NOCREATEDB

- name: accept connections from prosody user from srv3 (srv8 PostgreSQL pg_hba.conf)
  delegate_to: 192.168.154.8
  lineinfile: dest=/etc/postgresql/9.4/main/pg_hba.conf
              line="host    prosody_db     prosody      192.168.154.3/32            md5"
  notify: Restart PostgreSQL

- name: Accept connections from xmpp (srv8 postgresql.conf)
  delegate_to: 192.168.154.8
  lineinfile: dest=/etc/postgresql/9.4/main/postgresql.conf
              regexp="^listen_addresses ="
              line="listen_addresses = '*'"
  notify:
    - Restart PostgreSQL

# Database backup #
###################
- name: Pg_dump directories
  delegate_to: 192.168.154.8
  tags: db_backup
  sudo: yes
  sudo_user: root
  with_items: pg_dump_dirs
  file: >
    state=directory
    path={{item.dir}}
    owner={{item.owner}}
    group={{item.group}}
    mode={{item.mode}}

- name: Pg backup cron files
  delegate_to: 192.168.154.8
  tags: db_backup
  with_items: pg_dump_scripts
  copy: >
    src={{item.srcd}}/{{item.name}}
    dest={{item.destd}}/{{item.name}}
    owner={{item.owner}}
    group={{item.group}}
    mode={{item.mode}}

# //!\\ Bugged when cron:name changes with_items OR contains spaces.
- name: Pg backup cronjob
  delegate_to: 192.168.154.8
  tags: db_backup
  cron: >
    name='Pg_dump prosody'
    state=present
    user=postgres
    hour=2
    minute=20
    job='{{pg_cron_dump_script}}'

- name: Pg backup rotation cronjob
  delegate_to: 192.168.154.8
  tags: db_backup
  cron: >
    name='Pg_dump-rotate prosody'
    state=present
    user=postgres
    hour=4
    minute=10
    job='{{pg_cron_logrotate_script}} {{pg_cron_logrotate_conf}}'
...
