---

pubkey_comment: backup-agent@Groupe54_3 
backup_agent_local_id_dir: { path: /home/ansible/.srv3_backupagent_id, mode: 700 }
backup_agent_ssh_id: "{{backup_agent_local_id_dir.path}}/id_rsa"
backup_agent_ssh_keys:
  - { name: id_rsa, rem_mode: 600 }
  - { name: id_rsa.pub, rem_mode: 644 }
authorized_keys_targets:
  - { initial_host: 192.168.54.2, intended_host: mail.slash16.local, rem_user: ansible }
  - { initial_host: 192.168.54.7, intended_host: db2.slash16.local, rem_user: ansible }
  - { initial_host: 192.168.54.8, intended_host: git.slash16.local, rem_user: git }
backup_agent_files:
  - { src: "{{backup_agent_ssh_id}}", dest: "/home/backup-agent/.ssh/id_rsa", mode: 600 }
  - { src: "{{backup_agent_ssh_id}}.pub", dest: "/home/backup-agent/.ssh/id_rsa.pub", mode: 644 }
  - { src: backup-agent/backup-agent-hosts, dest: "/home/backup-agent/backup-agent-hosts", mode: 644 }
  - { src: backup-agent/backup-agent-playbook.yml, dest: "/home/backup-agent/backup-agent-playbook.yml", mode: 644 }
  - { src: backup-agent/cronjobs/bin/agent-fetch.sh, dest: "/home/backup-agent/cronjobs/bin/agent-fetch.sh", mode: 744 }
  - { src: backup-agent/cronjobs/bin/job_logger.source.sh, dest: "/home/backup-agent/cronjobs/bin/job_logger.source.sh", mode: 644 }
backup_agent_dirtree:
  - { dir: "/home/backup-agent/.ssh", mode: 755 }
  - { dir: "/home/backup-agent/cronjobs", mode: 755 }
  - { dir: "/home/backup-agent/cronjobs/bin", mode: 755 }


...
