---

- roles: [ a_role_for_handlers ]
  hosts: localhost

- name: Pull-sync versioning backups
  vars:
    destdir: /home/backup-agent/pull/versioning
  gather_facts: no
  hosts: versioning
  tags: versioning
  remote_user: ansible
  roles: [ versioning ]


- name: Pull-sync central syslogs
  vars: 
    destdir: /home/backup-agent/pull/syslog
  gather_facts: no
  hosts: syslog
  tags: syslog
  remote_user: ansible
  roles: [ syslog ]


- name: Pull-sync Db_slave dump
  vars:
    destdir: /home/backup-agent/pull/prod_db
  gather_facts: no
  hosts: prod_db
  tags: prod_db
  remote_user: ansible
  roles: [ prod_db ]


- name: Pull-sync dovecot mailboxes
  vars:
    destdir: /home/backup-agent/pull/mail
  gather_facts: no
  hosts: mail
  tags: mail
  remote_user: ansible
  roles: [ mail ]


- name: Pull-sync zabbix DB dumps
  vars: 
    destdir: /home/backup-agent/pull/monitoring
  gather_facts: no
  hosts: monitoring
  tags: monitoring
  remote_user: ansible
  roles: [ monitoring ]

...
