---

- name: Pull-sync versioning backups
  gather_facts: no
  hosts: versioning
  tags: versioning
  remote_user: ansible
  tasks:
    - sudo: yes
      sudo_user: git
      synchronize:
        mode: pull
        dest: /home/backup-agent/pull/versioning
        src: /home/git/gogs-dumps
        delete: yes
        compress: no

- name: Pull-sync central syslogs
  gather_facts: no
  hosts: syslog
  tags: syslog
  remote_user: ansible
  tasks:
    - sudo: yes
      synchronize:
        mode: pull
        dest: /home/backup-agent/pull/syslog
        src: /var/log/centralized
        delete: yes

- name: Pull-sync Db_slave dump
  gather_facts: no
  hosts: prod_db
  tags: prod_db
  remote_user: ansible
  tasks:
    - sudo: yes
      synchronize:
        mode: pull
        dest: /home/backup-agent/pull/prod_db
        src: /var/backups/postgres
        delete: yes
        compress: no

- name: Pull-sync dovecot mailboxes
  gather_facts: no
  hosts: mail
  tags: mail
  remote_user: ansible
  tasks:
# Save dovecot mailboxes
    - sudo: yes
      synchronize:
        mode: pull
        dest: /home/backup-agent/pull/mail
        src: /var/mail
        delete: yes
        compress: yes
        rsync_opts:
          - "--exclude=tmp/"
          - "--exclude=*.lock"
          - "--exclude=*.cache"
# Save spamassassin's bayesian classifier
    - local_action: >
        shell
        ssh ansible@mail.slash16.local 'sudo sa-learn --backup | gzip'
        > /home/backup-agent/pull/mail/spamassassin-bayes.gz

- name: Pull-sync zabbix DB dumps
  gather_facts: no
  hosts: monitoring
  tags: monitoring
  remote_user: ansible
  tasks:
    - sudo: yes
      synchronize:
        mode: pull
        dest: /home/backup-agent/pull/monitoring
        src: /var/backups/zabbix
        delete: yes
        compress: no

...
