---

- name: Stop and Disable mail daemons
  service: name={{ item.name }} state=stopped enabled=no
  with_items: mail_services

- name: Kill mail daemons
  command: kill {{ item.process }}
  with_items: mail_services
  ignore_errors: yes

- name: Enable Start Reload mail daemons
  service: name={{ item.name }} enabled=yes state=started daemon_reload=yes
  with_items: mail_services

- name: Restart and Reload mail daemons
  service: name={{ item.name }} state=restarted daemon_reload=yes
  with_items: mail_services

# Postfix needs `reload`ing afterwards
- name: Compile postfix hashmaps
  command: postmap {{ item }}
  with_items: postfix_hashmaps

- name: Initialize the alias database
  command: newaliases

- name: Reload postfix
  command: postfix reload

...
