---

- name: Check if slapd is installed
  shell: dpkg --get-selections | egrep '^slapd[[:space:]]+' | awk '{ print $2 }' || true
  register: slapd_installed
  changed_when: slapd_installed.stdout != 'install'

# Configure slapd pkg
- name: Configure slapd Package
  when: slapd_installed.stdout != 'install'
  debconf: name=slapd question={{item.question}} value={{item.value}} vtype={{item.vtype}}
  with_items:
    - { question: 'slapd/password1', value: "{{ldap_passwd}}", vtype: 'password' }
    - { question: 'slapd/internal/generated_adminpw', value: '{{ldap_passwd}}', vtype: 'password' }
    - { question: 'slapd/password2', value: '{{ldap_passwd}}', vtype: 'password' }
    - { question: 'slapd/internal/adminpw', value: '{{ldap_passwd}}', vtype: 'password' }
    - { question: 'slapd/domain', value: 'slash16.local', vtype: 'string' }
    - { question: 'slapd/no_configuration', value: 'false', vtype: 'boolean' }
    - { question: 'slapd/move_old_database', value: 'false', vtype: 'boolean' }
    - { question: 'slapd/allow_ldap_v2', value: 'false', vtype: 'boolean' }
    - { question: 'slapd/backend', value: 'MDB', vtype: 'string' }
    - { question: 'slapd/purge_database', value: 'true', vtype: 'boolean' }

- name: Install Packages
  apt: name={{item}} state=present
  with_items: [ slapd, ldap-utils, ssl-cert, gnutls-bin ]
  notify: Enable and start slapd

- name: Setup ldap.conf to allow simple auth ldapmodify
  copy: src=ldap/ldap.conf dest=/etc/ldap/ldap.conf

# Configure ldap ssl, network/IPC binding
# Workaround to no SIMPLE/anon bind: edit SLAPD_SERVICES
- name: Copy slapd Configuration file
  copy: src=slapd dest=/etc/default/slapd
  notify: Restart slapd

- name: Check config-admin password existence
  shell: grep olcRootPW '/etc/ldap/slapd.d/cn=config/olcDatabase={0}config.ldif' || true
  register: has_admin_pass
  changed_when: has_admin_pass.stdout == ''

- name: Put confadmin.ldif
  when: has_admin_pass.stdout == ''
  copy: src=ldap/members/confadmin_stub.ldif dest=/tmp/confadmin.ldif owner=root group=root mode=0600

- name: Hash & salt admin password
  when: has_admin_pass.stdout == ''
  shell: slappasswd -s {{ ldap_passwd }}
  register: slappasswd_result

- name: Append hashed pass
  when: has_admin_pass.stdout == ''
  shell: /bin/echo -e 'olcRootPW\x3A {{ slappasswd_result.stdout }}' >> /tmp/confadmin.ldif

- name: Set hashed olcRootPW
  command: ldapmodify -Y EXTERNAL -H ldapi:/// -D cn=admin,dc=slash16,dc=local  -f /tmp/confadmin.ldif
  when: has_admin_pass.stdout == ''


# DEV************** Loglevel: show queries, results (/var/log/debug)
- name: Set a friendly log level
  args:
    executable: /bin/bash
  shell: ldapmodify -Y EXTERNAL -H ldapi:/// -D 'cn=admin,dc=slash16,dc=local' -f /dev/stdin <<< "{{ item }}"
  with_items:
    - |
        dn: cn=config
        changetype: modify
        replace: olcLogLevel
        olcLogLevel: filter stats stats

#Idealement: check si c'est necessaire avant ;
# Merge les etapes si raisonnablement possible
# cf. :'changed_when: output.{stdout,...} == ...'
- name: Give openldap access to the ldap key [0]
  command: usermod -aG ssl-cert openldap
- name: Give openldap access to the ldap key [1]
  command: chown :ssl-cert /etc/ssl/private/cert.key
- name: Give openldap access to the ldap key [2]
  command: chmod 640 /etc/ssl/private/cert.key
  notify: Restart slapd

- name: Configure ldap to use certificate [0]
  copy: src=ldap/certs.ldif dest=/tmp/certs.ldif owner=openldap group=openldap 

- name: Configure ldap to use certificate [1] 
  command: ldapmodify -Y EXTERNAL -H ldapi:/// -f /tmp/certs.ldif
  ignore_errors: yes

- name: Setting services ACL (LDIF copy)
  copy: src={{item.src}} dest={{item.dest}} owner=root group=root mode=0600
  with_items:
    - { src: ldap/access/olcAccess.ldif, dest: /tmp/olcAccess.ldif }

- name: Setting services ACL (modify)
  command: ldapmodify -Y EXTERNAL -H ldapi:/// -f /tmp/olcAccess.ldif
  with_items:
    - { src: ldap/access/olcAccess.ldif, dest: /tmp/olcAccess.ldif }

# Configure ldap groups
# TODO: si on considere que des services genre postfix doivent se bind, les ajouter.
- name: Configure ldap groups [0]
  copy: src={{item.src}} dest={{item.dest}} owner=openldap group=openldap
  with_items:
    - { src: ldap/groups/people.ldif, dest: /tmp/people.ldif }
    - { src: ldap/groups/services.ldif, dest: /tmp/services.ldif }
- name: Configure ldap groups [1]
  command: ldapadd -x -D cn=admin,dc=slash16,dc=local -w {{ldap_passwd}} -f {{item}}
  with_items:
    - /tmp/people.ldif
    - /tmp/services.ldif
  ignore_errors: yes

# Configure ldap members
- name: Configure ldap members and services (copy ldifs)
  copy: src={{item.srcd}}{{item.file}} dest={{item.destd}}{{item.file}} owner=root group=root mode=0600
  with_items: ldap_users

- name: Configure ldap members and services (copy script)
  copy: src={{item}} dest=/tmp/{{item}} owner=root group=root mode=0700
  with_items: [ ldap_exists.sh, ldapadd_with_ssha.sh ]

- name: Configure ldap members and services (add)
  shell: "ROOTPW={{ldap_passwd}} /tmp/ldapadd_with_ssha.sh {{item.destd}}{{item.file}} {{item.user}} {{item.ou}}"
  register: added_user
  changed_when: added_user.stdout != 'exists'
  with_items: ldap_users

