---
- name: reload systemd
  command: systemctl daemon-reload

- name: restart nginx
  action: service name=nginx state=restarted

- name: restart buildbot
  action: service name=buildbot state=restarted

- name: restart buildbot slave
  action: service name=buildslave state=restarted

...
