---
- name: Update apt cache for further installs
  hosts: all
  remote_user: root
  gather_facts: no
  tags: update_apt

  tasks:
    - name: Update apt cache
      apt: update_cache=yes


- name: Apply common configuration to all hosts
  hosts: all
  remote_user: root
  gather_facts: no
  tags: common

  roles:
    - common


- name: Apply specific least privilege config to all hosts
  hosts: all
  remote_user: root
  gather_facts: no
  tags: leastpriv

  roles:
    - leastpriv


- name: Setup gateway
  hosts: gateway
  remote_user: root
  gather_facts: no

  roles:
    - { role: dhcp, tags: dhcp }
    - { role: nat, tags: nat }
    - { role: dns, tags: dns }


- name: Setup HAProxy load_balancers
  hosts: load_balancers
  remote_user: root
  gather_facts: no

  roles:
    - { role: load_balancers, tags: load_balancers }


- name: Setup web workers (nginx + gunicorn + Django)
  hosts: web_workers
  remote_user: root
  gather_facts: no

  roles:
    - { role: web_workers, tags: web_workers }


- name: Setup base databases config
  hosts: databases
  remote_user: root
  gather_facts: no

  roles:
    - { role: databases, tags: databases }


- name: Setup master database server config
  gather_facts: no
  hosts: db_master
  sudo_user: postgres
  sudo: yes

  roles:
    - { role: db_master, tags: db_master }


- name: Setup slave database server config
  gather_facts: no
  hosts: db_slave
  sudo_user: postgres
  sudo: yes

  roles:
    - { role: db_slave, tags: db_slave }


- name: Setup admin sys related tools on dedicated server
  hosts: adminsys
  remote_user: root
  gather_facts: no

  roles:
    - { role: ldap, tags: ldap }
    - { role: syslog, tags: syslog } 
    - { role: monitoring, tags: monitoring } 


- name: Setup preprod server with CI system
  hosts: preprod
  remote_user: root
  gather_facts: no

  roles:
    - { role: preprod, tags: preprod }
...
