---
- name: Apply common configuration to all hosts
  hosts: all
  remote_user: root

  pre_tasks:
    - name: Update apt cache for further installs
      apt: update_cache=yes
      tags: update_apt

  roles:
    - { role: common, tags: common }


- name: Setup gateway
  hosts: gateway
  remote_user: root

  roles:
    #- { role: dhcp, tags: dhcp }
    - { role: nat, tags: nat }
    #- { role: dns, tags: dns }


- name: Setup admin sys related tools on dedicated server
  hosts: adminsys
  remote_user: ansible

  roles:
    - { role: ldap, become: true, tags: ldap }
    - { role: syslog, tags: syslog } 
...
